
  </section>
  <aside><p class="ads">potential</p><h1 class="ad">AD</h1><p class="ads">space</p></aside>
</main>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright © Lukas Skerlik</p>
  </div>
</body>
</html>
