
  </section>
  <aside><p class="ads">potential </p><p class="ad">AD </p><p class="ads">space</p></aside>
</main>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright © Lukas Skerlik</p>
  </div>
  <script type="text/javascript" src="scriptForNavbar.js"></script>
</body>
</html>
