<%- include partials/header -%>


<div class="center">
  <h1>About</h1>
</div>
<p><%=aboutContent%></p>

<h2>Pilot <span class="italic">(meaning)</span></h2>
<h3>adjective [ before noun ]</h3>

<p>UK  [ˈpaɪ.lət] US  [ˈpaɪ.lət]</p>
<br>
<p>Serving as an experimental or trial undertaking prior to full-scale operation or use:</p>
<br>
<p class="italic">"a pilot project"</p>



<%- include partials/footer -%>
