<%- include partials/header -%>

<div class="center">
<h1>Compose</h1>
</div>

<form class="item" action="/" method="post">
  <label for="postTitle">Title</label>
  <input type="text" class="form-control" name="postTitle">
  <label for="postBody">Post</label>
  <textarea class="form-control" rows="5" name="postBody"></textarea>
  <br>
  <input type="submit" class="btn btn-primary" value="Publish">
</form>

<%- include partials/footer -%>
