
<%- include partials/header -%>

<h2>Blog posts:</h2>

<% collection.forEach(function(collectionItem) {%>
  <p><%= collectionItem.title%></p>
<%});%>

<br>
<br>

<h1>Update</h1>
<form class="item" action="/update" method="post">
  <label for="postTitle">Title</label>
  <input type="text" class="form-control" name="postTitle" >
  <label for="postBody">Post</label>
  <textarea class="form-control" rows="5" name="postBody"></textarea>
  <br>
  <input type="submit" class="btn btn-primary" value="Update">
</form>



<%- include partials/footer -%>
